<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Nic's Movie Store</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ml-md-4">
    <a class="navbar-brand" href="#"><strong>Nic's Movie Store</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/Movies/index">All Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Customers/index">All Customers</a>
            </li>
        </ul>
        <a href="@Url.Action("DisplayCart","Orders")" class="btn mr-5 text-light"><i class="fa fa-shopping-cart"><span class="badge badge-light ml-2">0</span></i></a>
        @Html.Partial("_LoginPartial")
    </div>
  </nav>
  <div class="input-group ml-md-4 mb-3"> 
    <input type="text" class="form-control" placeholder="Search a movie" aria-label="Search" aria-describedby="basic-addon2" style="background-color:inherit; border: none; border-bottom: 1px solid #777777; color: #fff;">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
    </div>
  </div>


  <div class="container-fluid body-content text-light my-md-4">
    @RenderBody()
    <hr />
    <footer class="text-light">
      <p>&copy; @DateTime.Now.Year - Nic's Movie Store</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
