@using Microsoft.AspNet.Identity

@{ 
    int count = 0;
    string shopCartText = "Shopping Cart";
    string countText = "0";
    if (Session["CartCount"] != null)
    {
        count = (int)Session["CartCount"];
        shopCartText = "Shopping Cart (" + count + ")";
        countText = count.ToString();
    }
}

@if (Request.IsAuthenticated) //if user logged in
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) 
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item mr-md-5 mt-0">
            <a class="btn text-light" href="/Cart/DisplayCart">
                <i class="fa fa-shopping-cart">
                </i>
                <span>
                    @Html.ActionLink(countText, "DisplayCart", "Cart", null, new { @class = "badge badge-light" })
            </span>
            </a>
        </li>
        <li class="nav-item  mx-md-3 mt-md-1">
            <i class="fa fa-user">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "text-light" })
            </i>
        </li>
        <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-outline-light text-light">Log off</a></li>
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right mr-auto">
    <li class="nav-item mr-md-5 mt-0">
        <a class="btn text-light" href="/Cart/DisplayCart">
            <i class="fa fa-shopping-cart">
            </i>
            <span>
                @Html.ActionLink(countText, "DisplayCart", "Cart", null, new { @class = "badge badge-light" })
            </span>
        </a>
    </li>
    <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-outline-light mx-2" })</li>
    <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-outline-light" })</li>
</ul>
}
