@model IEnumerable<movie_store.Models.DB.Customer>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-md-center text-light">All Customers</h2>


@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Add a Customer", "Create", null, new { @class = "btn btn-outline-danger  ml-md-2 mb-3" });

}
<table class="table text-light">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliverCountry)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliverCountry)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", null, new { id = item.Id, @class = "btn btn-outline-danger" }) ;
                    @Html.ActionLink("Details", "Details", null, new { id = item.Id, @class = "btn btn-outline-danger mx-2" }) ;
                    @Html.ActionLink("Delete", "Delete", null, new { id = item.Id, @class = "btn btn-outline-danger" })
                }

        </tr>
    }

</table>
