@model IEnumerable<movie_store.Models.DB.Movie>

@{
    ViewBag.Title = "Index";
}

<h1 class="text-md-center">All Movies</h1>



@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Add a Movie", "Create", null, new { @class = "btn btn-outline-danger  ml-md-2" }) ;
   
}


<hr />

<div class="card-group mx-1 row row-cols-1 row-cols-md-6">
    @foreach (var item in Model)
    {
        <div class="col mb-2">
            <div class="card  mx-1" style="width: 18rem; background-color:#222222;">
                <img class="card-img-top" style="height:28rem;" src="@Url.Content(item.ImgUrl)" alt="image" />
                <div class="card-body d-flex flex-column text-light">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    @*<h6 class="card-text">@Html.DisplayFor(modelItem => item.Plot)</h6>*@

                    <p class="card-text">Director: @Html.DisplayFor(modelItem => item.Director)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.ReleaseYear)</p>
                    <h6 class="card-text">Price : @Html.DisplayFor(modelItem => item.Price)</h6>
                    <button type="button" class="align-self-end btn btn-md btn-block"
                            style="margin-top: auto;
                            background-image: linear-gradient(to right, #e96443, #904e95);
                            margin: 10px;

                            text-align: center;
                            text-transform: uppercase;
                            transition: 0.5s;
                            color: white;
                            border-radius: 30px;
                            display: block;

                            ">
                        <i class="fa fa-shopping-cart"></i>@Html.ActionLink("Buy Now", "AddToCart", "Movies", new { id = item.Id },
new { @class = "ml-3 text-decoration-none text-light" })
                    </button>

                </div>
                <div class="card-body">
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", null, new { id = item.Id, @class = "btn btn-outline-danger" }) ;
                        @Html.ActionLink("Details", "Details", null, new { id = item.Id, @class = "btn btn-outline-danger mx-2" }) ;
                        @Html.ActionLink("Delete", "Delete", null, new { id = item.Id, @class = "btn btn-outline-danger" })
                    }
                </div>
            </div>
        </div>
    }
</div>


@*
    .btn-grad:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }*@
