@model IEnumerable<movie_store.Models.DB.Movie>

@{
  ViewBag.Title = "Index";
}

<h2 class="text-md-center">All Movies</h2>


<div class="card-group d-inline-flex p-3">
  @foreach (var item in Model)
  {
    <div class="card  mx-1" style="width: 18rem;">
      <img class="card-img-top" src="@Url.Content(item.ImgUrl)" alt="image" />
      <div class="card-body d-flex flex-column text-dark">
        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
        @*<h6 class="card-text">@Html.DisplayFor(modelItem => item.Plot)</h6>*@
        <h6 class="card-text">@Html.DisplayFor(modelItem => item.Price)</h6>
        <p class="card-text">@Html.DisplayFor(modelItem => item.Director)</p>
        <p class="card-text">@Html.DisplayFor(modelItem => item.ReleaseYear)</p>
        <button type="button" class="align-self-end btn btn-md btn-block btn-success" style="margin-top: auto;">Add to Cart</button>
      </div>
    </div>
  }
</div>

